<% title = "Collections" %>
<% @page_title = "#{title} - #{application_name}" %>
<% content_for(:meta_description) do %>Arthub Flanders collects metadata about cultural heritage objects of the Musea Brugge. Search through the different collections.<% end %>

<div class="collections">

	<div class="col-md-2">
	</div>
	<div class="col-md-8">

		<h2><%= title %></h2>
		
		<p>Arthub Flanders is a user-friendly search machine which makes finding information about cultural heritage objects across the boundaries of collections in the Musea Brugge.</p>


		<div class="collection-overiew-item last-item">
			<div class="image">
				<a href=<%= link_to_repository("Groeningemuseum+Brugge") %> title="Collection Groeninge museum Bruges"><%= image_tag "groeninge_museum.jpg", :alt => "Groeningemuseum Brugge" %></a>
			</div>
			<h3><a href=<%= link_to_repository("Groeningemuseum+Brugge") %> title="Collection Groeninge museum Bruges">Groeninge museum Bruges</a></h3>
			<p>Dijver 12</p>
			<p>8000 Bruges, Belgium</p>
			<p>T +32 (0)50 44 87 43</p>
			<p>E <a href="mailto:musea.reservatie@brugge.be">musea.reservatie@brugge.be</a></p>
			<div class="links">
				<a href=<%= link_to_repository("Groeningemuseum+Brugge") %> title="Collection Groeninge museum Bruges" class="button left">Art collection</a>
				<a href="https://bezoekers.brugge.be/nl/groeningemuseum" title="Website Groeningemuseum Brugge" target="_blank" class="button right">Museum website</a>
			</div>
		</div>

	</div>

</div>