<% title = "Collecties" %>
<% @page_title = "#{title} - #{application_name}" %>
<% content_for(:meta_description) do %>Arthub Flanders verzamelt beschrijvingen over kunst- en erfgoedobjecten van de Musea Brugge. Zoek doorheen de verschillende collecties.<% end %>

<div class="collections">

	<div class="col-md-2">
	</div>
	<div class="col-md-8">

		<h2><%= title %></h2>

		<p>Arthub Flanders is een gebruiksvriendelijke zoekmachine om informatie over kunst- en erfgoedobjecten terug te vinden over de grenzen van collecties aanwezig in de Musea Brugge.</p>

		<div class="collection-overiew-item last-item">
			<div class="image">
				<a href=<%= link_to_repository("Groeningemuseum+Brugge") %> title="Collectie Groeningemuseum Brugge"><%= image_tag "groeninge_museum.jpg", :alt => "Groeningemuseum Brugge" %></a>
			</div>
			<h3><a href=<%= link_to_repository("Groeningemuseum+Brugge") %> title="Collectie Groeningemuseum Brugge">Groeningemuseum Brugge</a></h3>
			<p>Dijver 12</p>
			<p>8000 Brugge, België</p>
			<p>T +32 (0)50 44 87 43</p>
			<p>E <a href="mailto:musea.reservatie@brugge.be">musea.reservatie@brugge.be</a></p>
			<div class="links">
				<a href=<%= link_to_repository("Groeningemuseum+Brugge") %> title="Collectie Groeningemuseum Brugge" class="button left">Kunstcollectie</a>
				<a href="https://bezoekers.brugge.be/nl/groeningemuseum" title="Website Groeningemuseum Brugge" target="_blank" class="button right">Museumwebsite</a>
			</div>
		</div>

	</div>

</div>